{% extends "../base.html" %}
{% load staticfiles %}

{% block page_title %} Update Group Details {% endblock %}

{% block body %}
	<div class="content">

            <form action="" method="post" role="form">
            	{% csrf_token %}
                <div class="form-group">
                    <label>Group Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label>Group Description</label>
                    {{ form.description }}
                </div>

                <button type="submit" class="btn btn-success btn-round">Update Group</button>

            </form>
        
    </div>                
{% endblock %}