from jenga.settings import *

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'database_name',
        'USER': 'database_user',
        'PASSWORD': 'db_user_password',
        'HOST': 'localhost',
        'PORT': '',
    }
}

DEBUG = True

SECRET_KEY = "random_long_string"


# Email Backend settings
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
